body {
  margin: 0;
  padding: 0;
  background-image: url("../images/profil.jpg");
}

main {
  width: 60vw;
  height: 90vh;
  position: absolute;
  top: 50%;
  right: 35%;
  transform: translate(50%, -50%);
}

.main-container {
  background-color: #ffffff;
  opacity: 0.75;
  height: 100%;
  overflow: overlay;
  padding: 10px 20px;
}

.movie-info {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

tr {
  height: 50px;
}

th:nth-child(1) {
  width: 5%;
}

th:nth-child(2) {
  width: 30%;
}

th:nth-child(3) {
  width: 25%;
}

th:nth-child(4) {
  width: 30%;
}

th:nth-child(5) {
  width: 10%;
}

td {
  width: 100px;
}

td > img {
  height: 130px;
  width: auto;
}

input[type="checkbox"] {
  accent-color: #70a961;
  margin-right: 10px;
}

input[type="text"]:focus {
  outline-color: #70a961;
}

.check_button > button {
  background-color: #70a961;
  width: 80px;
  height: 20px;
  border: none;
  border-radius: 5px;
}

.check_button > button:nth-child(1) {
  margin-right: 10px;
}
